.share-buttons {
  padding: 1rem;
  text-align: center;
}

.cta {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #555555;
}

.buttons {
  display: flex;
  gap: 1rem;
  padding: 0 1rem 1.5rem;
  justify-content: center;
}
